<h1>Cidade</h1>

<p>Cidade: <%= @city[:nome] %></p>
<p>Geocódigo: <%= @city[:geocodigo] %></p>
<p>Latitude: <%= @city[:latitude] %></p>
<p>Longitude: <%= @city[:longitude] %></p>

<%= link_to "Voltar", root_path %>