<h1 class="title">Cidade</h1>

<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= @city[:nome] %></strong> <small>Geocódigo: <%= @city[:geocodigo] %></small>
          <br>
          Latitude: <%= @city[:latitude] %><br>
          Longitude: <%= @city[:longitude] %>
        </p>
      </div>
    </div>
  </article>
</div>

<%= link_to "Voltar", root_path, class: 'button is-info is-outlined' %>